name: Build Aleph One

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs: 
  fc33_build: 
    container: 
      image: "marathondevs/alephone-fc33:latest"
    runs-on: ubuntu-latest
    steps: 
      - 
        uses: actions/checkout@v2
      - 
        name: "Current OS"
        run: "uname -a"
      - 
        name: "dnf update"
        run: "dnf update -y"
      -
        name: "install autotools"
        run: "dnf install -y autoconf automake"
      - 
        name: "mkdir /wrk"
        run: "mkdir /wrk"
      - 
        name: "mkdir /archive"
        run: "mkdir /archive"
      - 
        name: ./autogen.sh
        run: "/bin/bash autogen.sh --prefix=/wrk"
      - 
        name: make
        run: make
      - 
        name: "make install"
        run: "make install"
      - 
        name: "Create Artifact Tarball"
        run: "tar -cvzf fc33-magic.tgz /wrk/"
      - 
        name: "Publish Artifact Tarball"
        uses: actions/upload-artifact@v2
        with: 
          name: fc33-artifact
          path: fc33-magic.tgz
  mxe_build: 
    container: 
      image: "marathondevs/alephone-mxe:latest"
    runs-on: ubuntu-latest
    steps: 
      - 
        uses: actions/checkout@v2
      - 
        name: "Current OS"
        run: "uname -a"
      - 
        name: "apt update"
        run: "apt update"
      - 
        name: "apt upgrade"
        run: "apt upgrade -y"
      -
        name: "Install autotools, curl, zip, and dos2unix"
        run: "apt install -y autoconf automake curl zip unzip dos2unix build-essential"
      - 
        name: "mkdir /wrk"
        run: "mkdir /wrk"
      - 
        name: "mkdir /archive"
        run: "mkdir /archive"
      - 
        name: "Download MXE Script"
        run: "curl -O https://gist.githubusercontent.com/ccallahan/72752837ca6e57eba39a049c8be9d4a6/raw/c52e07468ba61f6e894b601fb9f134fccf1ba3a3/mxe.sh"
      - 
        name: "Build Aleph One"
        run: "/bin/bash mxe.sh"
      - 
        name: "Create Artifact Tarball"
        run: "tar -cvzf mxe-magic.tgz /wrk/"
      - 
        name: "Publish Artifact Tarball"
        uses: actions/upload-artifact@v2
        with: 
          name: ubu2004-artifact
          path: mxe-magic.tgz
  ubu1804_build: 
    container: 
      image: "marathondevs/alephone-ubu1804:latest"
    runs-on: ubuntu-latest
    steps: 
      - 
        uses: actions/checkout@v2
      - 
        name: "Current OS"
        run: "uname -a"
      - 
        name: "apt update"
        run: "apt update"
      - 
        name: "apt upgrade"
        run: "apt upgrade -y"
      -
        name: "Install Autotools"
        run: "apt install -y autoconf automake"
      - 
        name: "mkdir /wrk"
        run: "mkdir /wrk"
      - 
        name: "mkdir /archive"
        run: "mkdir /archive"
      - 
        name: ./autogen.sh
        run: "/bin/bash autogen.sh --prefix=/wrk"
      - 
        name: make
        run: make
      - 
        name: "make install"
        run: "make install"
      - 
        name: "Create Artifact Tarball"
        run: "tar -cvzf fc33-magic.tgz /wrk/"
      - 
        name: "Publish Artifact Tarball"
        uses: actions/upload-artifact@v2
        with: 
          name: ubu1804-artifact
          path: ubu1804-magic.tgz
  ubu2004_build: 
    container: 
      image: "marathondevs/alephone-ubu2004:latest"
    runs-on: ubuntu-latest
    steps: 
      - 
        uses: actions/checkout@v2
      - 
        name: "Current OS"
        run: "uname -a"
      - 
        name: "apt update"
        run: "apt update"
      - 
        name: "apt upgrade"
        run: "apt upgrade -y"
      -
        name: "Install Autotools"
        run: "apt install -y automake autoconf"
      - 
        name: "mkdir /wrk"
        run: "mkdir /wrk"
      - 
        name: "mkdir /archive"
        run: "mkdir /archive"
      - 
        name: ./autogen.sh
        run: "/bin/bash autogen.sh --prefix=/wrk"
      - 
        name: make
        run: make
      - 
        name: "make install"
        run: "make install"
      - 
        name: "Create Artifact Tarball"
        run: "tar -cvzf fc33-magic.tgz /wrk/"
      - 
        name: "Publish Artifact Tarball"
        uses: actions/upload-artifact@v2
        with: 
          name: ubu2004-artifact
          path: ubu2004-magic.tgz
